<div class="row">
  <div class="col-sm-6 col-12">
    <div class="px-3 pb-3">
      <img class="img-fluid" src="./assets/data/photo.JPG">
    </div>
  </div>

  <div class="col-sm-6 col-12" *ngIf="details.about && details.contact">
    <div id="details-accordion">
      <div class="card card-theme">
        <div class="card-header card-header-theme" id="about">
          <h5 class="mb-0">
            <button class="btn-theme" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
              About
            </button>
          </h5>
        </div>
        <div id="collapseAbout" class="collapse show" aria-labelledby="about" data-parent="#details-accordion">
          <div class="card-body card-body-theme">
              <div><span class="bold-text">Name: </span>{{details.about.name}}</div>
              <div>
                  <span class="bold-text">Occupations: </span>
                  <ul>
                      <li *ngFor="let o of details.about.occupations">{{o}}</li>
                  </ul>
              </div>
              <div>
                  <span class="bold-text">CV: </span>
                  <span>
                    <a href="/portofolio">
                        <i class="fas fa-external-link-alt list-icon hover-scale"></i>
                    </a>
                  </span>
              </div>
              <br />
              <div [innerHtml]="details.about.text"></div>
          </div>
        </div>
      </div>
      <div class="card card-theme">
        <div class="card-header card-header-theme" id="contact">
          <h5 class="mb-0">
            <button class="btn-theme" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
              Contact
            </button>
          </h5>
        </div>
        <div id="collapseContact" class="collapse" aria-labelledby="contact" data-parent="#details-accordion">
          <div class="card-body card-body-theme">
            <div>
                <i class="fas fa-envelope contact-icon list-icon hover-scale" data-toggle="tooltip" title="Email"></i>
                {{details.contact.email}}
            </div>
            <div>
                <a target="_blank" href="{{details.contact.officeAddress.link}}" class="text-decoration-none">
                    <i class="fas fa-map-marker-alt contact-icon list-icon map-pin"></i>
                </a>
                {{details.contact.officeAddress.label}}
            </div>
            <br />
            You can find me on:<br />
            <a *ngFor="let sm of details.contact.socialMedia" target="_blank" href="{{sm.url}}" class="text-decoration-none">
              <i class="{{sm.iconClass}} contact-icon list-icon hover-scale" data-toggle="tooltip" title="{{sm.tooltip}}"></i>
            </a>
            <br />
            You can also find me here:<br />
            <a *ngFor="let a of details.contact.address" target="_blank" href="{{a}}" class="text-decoration-none">
              <i class="fas fa-map-marker-alt contact-icon list-icon map-pin"></i>
            </a>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>