<div class="row">
    <div class="col-sm-5 col-12">
		<div class="px-3 pb-3">
			<img class="img-fluid" src="./assets/images/photo-self.JPG">
		</div>
	</div>
    <div class="col-sm-7 col-12">
        <div id="accordionAbout">
			<div class="card card-theme">
				<div class="card-header card-header-theme" id="cardWorkExp">
					<h5 class="mb-0">
						<button class="btn-theme" data-toggle="collapse" data-target="#collapseWorkExp"
							aria-expanded="false" aria-controls="collapseWorkExp">
							<i class="fas fa-user-tie icon-in-text"></i>Work experience
						</button>
					</h5>
				</div>
				<div id="collapseWorkExp" class="collapse" aria-labelledby="cardWorkExp" data-parent="#accordionAbout">
					<div class="card-body card-body-theme">
						<div *ngFor="let we of about.workExperience" class="card">
                            <div class="card-body">
                                <h6 class="card-title text-bold text-info">{{we.role}}</h6>
                                <p class="card-subtitle"><span class="text-bold">{{we.companyName}} </span><span class="font-italic">[{{we.startPeriod | date : AppConstants.dateFormat}} - {{we.endPeriod ? (we.endPeriod | date : AppConstants.dateFormat) : 'Current'}}]</span></p>
                                <p class="card-subtitle text-muted mt-1">{{we.city}}, {{we.country}}</p>
                            </div>
                        </div>
					</div>
				</div>
			</div>
            <div class="card card-theme">
				<div class="card-header card-header-theme" id="cardEducation">
					<h5 class="mb-0">
						<button class="btn-theme" data-toggle="collapse" data-target="#collapseEducation"
							aria-expanded="false" aria-controls="collapseEducation">
							<i class="fas fa-user-graduate icon-in-text"></i>Education
						</button>
					</h5>
				</div>
				<div id="collapseEducation" class="collapse" aria-labelledby="cardEducation" data-parent="#accordionAbout">
					<div class="card-body card-body-theme">
						<div *ngFor="let e of about.education" class="card">
                            <div class="card-body">
                                <h6 class="card-title text-bold text-info">{{e.degree}}</h6>
                                <p class="card-subtitle"><span class="text-bold">{{e.institutionName}} </span><span class="font-italic">[{{e.startYear}} - {{e.endYear ? e.endYear : 'Current'}}]</span></p>
                                <p class="card-subtitle text-muted mt-1">{{e.city}}, {{e.country}}</p>
                            </div>
                        </div>
					</div>
				</div>
			</div>
            <div class="card card-theme">
				<div class="card-header card-header-theme" id="cardProgrammingBg">
					<h5 class="mb-0">
						<button class="btn-theme" data-toggle="collapse" data-target="#collapseProgrammingBg"
							aria-expanded="false" aria-controls="collapseProgrammingBg">
							<i class="fas fa-laptop-code icon-in-text"></i>Programming background
						</button>
					</h5>
				</div>
				<div id="collapseProgrammingBg" class="collapse" aria-labelledby="cardProgrammingBg" data-parent="#accordionAbout">
					<div class="card-body card-body-theme">
                        <div [innerHtml]="about.programmingBackground"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>