.icon {
    font-size: $font-size-ex-lg;
}

.text-icon {
    @extend .icon;
    @extend .mr-3;
}

.list-icon {
    @extend .icon;
    @extend .m-2;
}

.bold-text {
    font-weight: 500;
}

.hover-opacity {
    transition: opacity $transition-time;
}

.hover-scale {
    cursor: pointer;
    transition: transform $transition-time;
}

@media (hover: hover) {
    .hover-opacity:hover {
        opacity: $hover-opacity;
    }

    .hover-scale:hover {
        transform: scale(1.5);
    }
}
