app-contact {
    .contact-icon {
        color: $theme-color-dark;
    }

    .social-media-icon {
        @extend .contact-icon;
        @extend .icon-in-list;
        @extend .hover-opacity;
        @extend .hover-scale;
    }

    .map-pin {
        @extend .contact-icon;
        @extend .icon-in-list;
        @extend .hover-opacity;
        transition: transform $transition-time;
    }

    @media (hover: hover) {
        .map-pin:hover {
            transform: rotate(360deg);
        }
    }
}

app-empty-page {
    .empty-page-container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1, h2 {
        @extend .text-bold;
    }
}
