<div class="row">
    <div class="col-sm-12 col-12">
        <div id="accordionSubject" *ngIf="subject">
            <div class="card card-theme">
				<div class="card-header card-header-theme" id="cardAnnouncements">
					<h5 class="mb-0">
						<button id="buttonAnnouncementsToggle" class="btn-theme" data-toggle="collapse" data-target="#collapseAnnouncements"
							aria-expanded="true" aria-controls="collapseAnnouncements">
							<i class="fas fa-bullhorn icon-in-text"></i>Announcements
						</button>
					</h5>
				</div>
				<div id="collapseAnnouncements" class="collapse show" aria-labelledby="cardAnnouncements" data-parent="#accordionSubject">
					<div class="card-body card-body-theme">
						<div *ngFor="let announcement of announcements" class="card">
                            <div class="card-body">
                                <h5 class="card-title text-bold">{{announcement.title}}</h5>
                                <h6 class="card-subtitle mb-1 text-muted">{{announcement.date | date : AppConstants.dateTimeFormat}}
                                </h6>
                                <div class="card-text">
                                    <div [innerHtml]="announcement.text"></div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
            <div class="card card-theme">
                <div class="card-header card-header-theme" id="cardGeneralInfo">
                    <h5 class="mb-0">
                        <button class="btn-theme unclickable" aria-expanded="true">
                            <i class="fas fa-info icon-in-text"></i>General Information
                        </button>
                    </h5>
                </div>
                <div class="show" data-parent="#subject-accordion">
                    <div class="card-body card-body-theme">
                        <div>
                            <div><span class="text-bold">Name: </span>{{subject.name}}</div>
                            <div>
                                <span class="text-bold">Specializations: </span>
                                <span *ngFor="let s of subject.specializations; let last = last">{{s}}<span
                                        *ngIf="!last">, </span></span>
                            </div>
                            <div><span class="text-bold">Year of study: </span>{{subject.year}} ({{subject.semester}}
                                semester)</div>

                            <br />

                            <div><span class="text-bold">Lecture: </span>{{subject.lectHours}} hour(s) / week</div>
                            <div><span class="text-bold">Seminar: </span>{{subject.semHours}} hour(s) / week</div>
                            <div><span class="text-bold">Laboratory: </span>{{subject.labHours}} hour(s) / week</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header card-header-theme" id="cardReq">
                    <h5 class="mb-0">
                        <button class="btn-theme unclickable" aria-expanded="true">
                            <i class="fas fa-clipboard-list icon-in-text"></i>Requirements
                        </button>
                    </h5>
                </div>
                <div class="show" data-parent="#subject-accordion">
                    <div class="card-body card-body-theme">
                        <ul>
                            <li *ngFor="let r of subject.requirements" [innerHtml]="r"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header card-header-theme" id="cardGrading">
                    <h5 class="mb-0">
                        <button class="btn-theme unclickable" aria-expanded="true">
                            <i class="fas fa-medal icon-in-text"></i>Grading
                        </button>
                    </h5>
                </div>
                <div class="show" data-parent="#subject-accordion">
                    <div class="card-body card-body-theme">
                        <div [innerHtml]="subject.grading"></div>
                    </div>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header card-header-theme" id="cardLectSem">
                    <h5 class="mb-0">
                        <button class="btn-theme unclickable" aria-expanded="true">
                            <i class="fas fa-chalkboard icon-in-text"></i>Lectures &amp; seminars
                        </button>
                    </h5>
                </div>
                <div class="show" data-parent="#subject-accordion">
                    <div class="card-body card-body-theme">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <ul>
                                    <li *ngFor="let l of subject.lectures">
                                        <a href="{{l.src}}" download>{{l.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-12">
                                <ul>
                                    <li *ngFor="let s of subject.seminars">
                                        <a href="{{s.src}}" download>{{s.name}}</a>
                                        <div *ngIf="s.resources">
                                            Resources: <span *ngFor="let r of s.resources; let last = last"><a
                                                    href="{{r.src}}" download>{{r.name}}</a><span *ngIf="!last">,
                                                </span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header card-header-theme" id="cardLabs">
                    <h5 class="mb-0">
                        <button class="btn-theme unclickable" aria-expanded="true">
                            <i class="fas fa-laptop-code icon-in-text"></i>Laboratories
                        </button>
                    </h5>
                </div>
                <div class="show" data-parent="#subject-accordion">
                    <div class="card-body card-body-theme">
                        <div class="row" *ngFor="let l of subject.laboratories">
                            <div class="col-md-3 col-sm-6 col-12">
                                <ul>
                                    <li>
                                        <a href="{{l.src}}" download>{{l.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9 col-sm-6 col-12">
                                <ul *ngIf="l.resources">
                                    <li>
                                        Resources: <span *ngFor="let r of l.resources; let last = last"><a
                                                href="{{r.src}}" download>{{r.name}}</a><span *ngIf="!last">,
                                            </span></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-theme">
                <div class="card-header card-header-theme" id="cardExam">
                    <h5 class="mb-0">
                        <button class="btn-theme unclickable" aria-expanded="true">
                            <i class="fas fa-file-signature icon-in-text"></i>Exam
                        </button>
                    </h5>
                </div>
                <div class="show" data-parent="#subject-accordion">
                    <div class="card-body card-body-theme">
                        <ul>
                            <li *ngFor="let e of subject.exams">
                                <span class="text-danger text-bold">{{e.date | date: AppConstants.dateFormat}}</span>
                                <br />
                                <span class="text-bold">Groups: </span><span
                                    *ngFor="let g of e.groups; let last = last">{{g}}<span *ngIf="!last">,
                                    </span></span>
                                <br />
                                <span *ngFor="let t of e.times">
                                    <span class="text-bold">{{t.name}}: </span>{{t.startTime | date: AppConstants.timeFormat}} - {{t.endTime | date: AppConstants.timeFormat}}
                                    <br />
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>