<div class="row align-items-center">
    <div class="col-md-5 col-12">
        <div class="px-3 pb-3">
            <img class="img-fluid" src="./assets/images/photo-home-page.png" alt="home-page-photo">
        </div>
    </div>
    <div class="col-md-7 col-12">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <div>
                                <h5 class="card-title text-bold">Isabela-Alexandra Fitero</h5>
                                <div class="card-text">
                                    Lecturer | Department of Computer Science<br />
                                    Babes-Bolyai University
                                </div>
                                <div class="card-subtitle mt-1 text-muted">Cluj-Napoca, Romania</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            Hello!<br />
                            My name is Isabela, and this is my university professor webpage. Here I will post useful
                            information for my students regarding the subjects that I teach.<br />
                            <br />
                            Currently, I am teaching <em>Object-Oriented Programming</em> and <em>Web Programming</em>.<br />
                            Please check out the corresponding subject pages available under the <em>Teaching</em> menu. There you will find announcements, course materials and details about the course (requirements, grading system, etc.).<br />
                            <br />
                            If you have any questions, do not hesitate to contact me!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>