<div class="row">
    <div class="col-12">
        <div>
            <h1>Announcements</h1>
            <div *ngFor="let announcement of announcements" class="card">
                <div class="card-body">
                    <h5 class="card-title">{{announcement.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{announcement.date | date : 'EEEE, MMMM d, y - HH:mm'}}
                    </h6>
                    <div class="card-text">
                        <div [innerHtml]="announcement.text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>