<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <h1>General information</h1>
            <div>
                <div><span class="bold-text">Subject: </span>{{generalInformation.subject}}</div>
                <div><span class="bold-text">Specialization: </span>{{generalInformation.specialization}}</div>
                <div><span class="bold-text">Year of study: </span>{{generalInformation.yearOfStudy}}</div>
            </div>
        </div>
        <div>
            <h1>Announcements</h1>
            <div *ngFor="let announcement of announcements.reverse()" class="card">
                <div class="card-body">
                    <h5 class="card-title">{{announcement.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{announcement.date | date : 'EEEE, MMMM d, y - HH:mm'}}</h6>
                    <div class="card-text">
                        <div [innerHtml]="announcement.text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>